<div class="back">

<%= link_to "ログイン", tweets_path %>
<%= link_to "新規登録", new_user_registration_path %>



<div class="image-container">
  <div class="fancy-image">
    <%= image_tag "apple.jpg" %>
  </div>
  <div class="fancy-image">
    <%= image_tag "apple.jpg" %>
  </div>
  <div class="fancy-image">
    <%= image_tag "apple.jpg" %>
  </div>
</div><br>

  <div class=".image2-container">

</div>
</div>